@import "../variables.scss";
.b-hotel-details-rooms__title {
  font-size:   $hotel-details-title-size;
  font-weight: bold;
}
.b-rooms-list-item {
  margin:        10px 0;
  border-bottom: 1px solid #dedede;
}
.b-rooms-list-item__head {
  display: flex;
  cursor:  pointer;
}
.b-rooms-list-item__info {
  flex:          4 1 60%;
  margin-bottom: 10px;
}
.b-rooms-list-item-info {
  display: flex;
}
.b-rooms-list-item-info__photo {
  display:        inline-block;
  margin:         4px 10px 0 0;
  vertical-align: top;
}
.b-rooms-list-item-info-photo {
  max-width:  100px;
  max-height: 100px;
}
.b-rooms-list-item-info__text {
  display:        inline-block;
  vertical-align: top;
  font-size:      .9rem;
}
.b-rooms-list-item-link {
  color:           #1e88c1;
  text-decoration: underline;
}
.b-rooms-list-item-bed-type-list {
  font-size: .85em;
}
.b-rooms-list-item-text-extra-list {
  margin:  5px 0 0 0;
  padding: 0;
}
.b-rooms-list-item-text-extra-list-item {
  display:       inline-block;
  margin-right:  7px;
  margin-bottom: 5px;
  padding:       3px;
  border-radius: 2px;
  border:        1px solid #bdbdbd;
  color:         #4c4c4c;
  font-size:     12px;
}
.b-rooms-list-item__description {
  height:     0px;
  padding:    0 20px;
  background: #f5f5f5;
  transition: all $animation-speed;
  overflow:   hidden;
  font-size:  .9em;

  &.b-rooms-list-item__description_expanded {
    height:       auto;
    padding:      20px;
    border:       1px solid #dedede;
    border-width: 1px 0 0;
  }

  h3 {
    font-size: 1.1em;
  }
}
.b-rooms-list-item__refund {
  flex: 1 1 20%;
}
.b-rooms-list-item-refund {
  font-size: .95em;
}
.b-rooms-list-item__price {
  flex: 1 1 20%;
}
.b-rooms-list-item-price {
  text-align:    right;
  padding-right: 15px;
}
.b-rooms-list-item-price__include {
  font-size:   1.1em;
  font-weight: bold;
}
.b-rooms-list-item-price__price {
  font-size: .95em;
}
.b-rooms-list-item-price__price__value {
  font-size: .8em;
}
.b-rooms-list-item__buy {
  padding:    6px 0 0 0;
  flex:       1 1 auto;
  text-align: right;
}
@media (max-width: $mobile-max-width) {
  .b-hotel-details-rooms__title {
    display: none;
  }

  .b-rooms-list-item__head {
    flex-wrap: wrap;
  }

  .b-rooms-list-item {
    margin:           5px 0px;
    padding:          0 5px;
    box-shadow:       0px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9;
  }

  .b-rooms-list-item__refund {
    display: none;
  }

  .b-rooms-list-item__info {
    flex:          1 1 100%;
    margin-bottom: 0;
  }

  .b-rooms-list-item__price {
    display:        flex;
    align-items:    flex-end;
    //margin-left:    110px;
    padding-bottom: 10px;
    font-size:      .9em;
  }

  .b-rooms-list-item-price {
    padding: 0;
  }

  .b-rooms-list-item__buy {
    .b-buy-btn {
      padding: 4px 15px;
      font-size: 1rem;
    }
  }

  //.b-rooms-list-item-price__include {
  //    white-space: nowrap;
  //}
}
