

.b-hotel-details-map__title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
}

.b-hotel-details-map__description {
    height: 200px;
}

.b-hotel-details-no-scroll {
    pointer-events: none;
}