@import "../variables.scss";

.b-hotel-card {
    padding: 10px 0 40px 10px;
}

.b-hotel-card__icon {
    position: absolute;
    top: 5px;
    right: 10px;
}

.b-hotel-card__photo {
    display: inline-block;
    width: 36%;
    padding-right: 10px;
}

.b-hotel-card-photo {
    width: 100%;
    max-width: 125px;
}

.b-hotel-card__info {
    display: inline-block;
    width: 64%;
    vertical-align: top;
}

.b-hotel-star {
    color: #ffc223;
    font-size: .9em;

    &:before {
        margin: 0;
    }
}

.b-hotel-card-info__title {
    font-size: 1.1em;
    font-weight: bold;
    color: #1e88c1;

    a {
        display: inline-block;
        width: 100%;
        color: #1e88c1;
        text-decoration: none;
        word-break: keep-all;
        word-wrap: normal;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-hotel-card-info__map {
    font-size: 14px;
    color: #1e88c1;

    a {
        color: #1e88c1;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-hotel-card-info__date {
    font-size: .85em;
    color: #575757;
}

.b-hotel-card__actions {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding-right: 10px;
}

.b-hotel-card-actions {
    max-height: 30px;
    padding: 5px 16px;
    overflow: hidden;
    font-size: .9em;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    background-color: #f9c623;
    border-radius: 3px;

    &:hover {
        background-color: #f8bf07;
    }
}

@media(max-width: $recommended-bundle-max-mobile-width) {
    .b-hotel-card__photo {
        //width: auto;
        //margin-right: 5px;
    }

    .b-hotel-card__info {
        //width: auto;
    }

    .b-hotel-card__actions {
        left: auto;
        right: 0;
        bottom: 5px;
    }

    .b-hotel-card-actions {
        width: 230px;
        overflow: auto;
    }
}

@media (max-width: $mobile-max-width) {
    .b-hotel-card {
        padding: 5px 0 20px 10px;
    }

    .b-hotel-card-actions {
        width: 210px;
        overflow: hidden;
    }
}

@media (max-width: $mobile-max-width) and (max-height: 550px) {
    .b-hotel-card__info {
        line-height: 1.3;
    }
}