@import "../variables.scss";

.b-hotel-card {
}
.HotelInfo{
    min-height: 155px;
    padding: 10px;
}

.b-hotel-card__photo {
    display: inline-block;
    width: 36%;
    padding-right: 15px;
}

.b-hotel-card-photo {
    width: 100%;
    max-width: 125px;
}

.b-hotel-card__info {
    display: inline-block;
    width: 64%;
    vertical-align: top;
}

.b-hotel-card-info__title {
    font-size: 1.1em;
    font-weight: bold;
    color: #1e88c1;

    a {
        display: inline-block;
        width: 100%;
        color: #1e88c1;
        text-decoration: none;
        word-break: keep-all;
        word-wrap: normal;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-hotel-card-info__map {
    font-size: 14px;
    color: #1e88c1;

    a {
        color: #1e88c1;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-hotel-card-info__date {
    font-size: .85em;
    color: #575757;
}

.b-hotel-card__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .ButtonSecondary{
        width: 50%;
    }
}
.b-hotel-card__actions-more{
    .ButtonSecondary{
        width: 100%;
    }
}


@media(max-width: $recommended-bundle-max-mobile-width) {
    .b-hotel-card__photo {
        //width: auto;
        //margin-right: 5px;
    }

    .b-hotel-card__info {
        //width: auto;
    }

    .b-hotel-card__actions {
        left: auto;
        right: 0;
        bottom: 5px;
    }

    .b-hotel-card-actions {
        width: 230px;
        overflow: auto;
    }
}

@media (max-width: $mobile-max-width) {

    .b-hotel-card-info__stars {
        font-size: .9em;
    }

    .b-hotel-card-info__map {
        display: none;
    }

    .b-hotel-card-info__title {
        margin-top: -5px;
        font-size: .9em;
        white-space: nowrap;
        color: rgba(0,0,0,0.87);

        a {
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgba(0,0,0,0.87);
        }
    }

    .b-hotel-card-info__date {
        margin-top: -10px;
    }

    .b-hotel-card {
        padding: 10px 15px 25px;
        margin-bottom: 5px;
    }

    .b-hotel-card-info__votes {
        position: absolute;
        display: block;
        bottom: 6px;
        left: 15px;
    }

    .b-hotel-card__actions {
        padding-right: 15px;
        color: #1b74b3;
        font-size: .9em;

        a {
            color: #1b74b3;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .b-hotel-card-actions {
        width: 210px;
        overflow: hidden;
    }
}

@media (max-width: $mobile-max-width) and (max-height: 550px) {
    //.b-hotel-card__info {
    //    line-height: 1.3;
    //}
}
