.b-avia-card {
}

.b-avia-card__aircompany {
}

.b-aircompany {
}

.b-aircompany__logo {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.b-aircompany__text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.b-aircompany__ico {
    display: inline-block;
    float: right;
    width: 21px;
    height: 18px;
    margin: 3px 0 0 0;
    background: url("airplane.png") no-repeat 0 0;
}

.b-avia-card__flight-info {
    margin: 10px 0;
}

.b-flight-info_back {
    margin-top: 10px;
}

.b-flight-info__text {
    display: inline-block;
    width: 30%;
    min-height: 50px;
    //background-color: #b3d4fc;
    vertical-align: top;
}

.b-flight-info__text.b-flight-info__text_to {
    text-align: center;
}

.b-flight-info__flight {
    display: inline-block;
    width: 40%;
    min-height: 50px;
    margin-left: -5%;
    //background-color: #eee;
    vertical-align: top;
}

.b-flight-info-text {
    display: inline-block;
    text-align: left;
}

.b-flight-info-text__time {
    font-size: .9em;
    font-weight: bold;
}

.b-flight-info-text__date {
    font-size: .85em;
    color: #4d4d4d;
}

.b-flight-info-trip {
    position: relative;
    margin: 0 8%;
    font-size: .75em;
    color: #4d4d4d;
    text-align: center;
    white-space: nowrap;

    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        content: '';
        background: #4d4d4d;
    }

    &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
        height: 0;
        margin-top: -3px;
        content: '';
        border-color: transparent transparent transparent #4d4d4d;
        border-style: solid;
        border-width: 3px 0 4px 11px;
    }
}

.b-avia-card-actions {
    display: inline-block;
    padding: 5px 16px;
    background-color: #f9c623;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: #f8bf07;
    }
}

@media(max-width: 768px) {
    .b-flight-info__flight {
        margin-left: 0;
    }

    .b-flight-info-trip {
        margin: 5px;
    }
}
