@import "../variables.scss";
@import "../mixins";

$mobile-padding: 1.5%;

.g-invisible {
    opacity: 0;
}

.b-recommended-bundle {
    position: relative;
    max-width: $layout-max-width;
    padding: 0 $layout-horizontal-padding;
    margin: 0 auto;
}

.b-recommended-bundle__collapse {
    position: relative;
    display: inline-block;
    float: right;
    padding: 5px 0;
    margin-top: 5px;
    font-size: .85em;
    color: #fff;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    //треугольничек вверх
    &:before {
        position: absolute;
        top: 45%;
        left: -12px;
        content: '';

        @include arrowUp(4px, #fff);
    }
}

.b-bundle-content {
    background-color: #fff;
    display: table;
    width: 100%;
    min-height: 200px;
}

.b-bundle-content__avia {
    position: relative;
    display: table-cell;
    width: 40%;
    vertical-align: top;
    transition: opacity $animation-speed;
    border-right: 1px solid $gray-light;
}

.b-bundle-content__dp {
    position: relative;
    display: table-cell;
    width: 40%;
    vertical-align: top;
    border-right: 1px solid $gray-light;
}

.b-bundle-content__price {
    display: table-cell;
    position: relative;
    width: 20%;
    vertical-align: middle;
}


@media(max-width: $recommended-bundle-max-mobile-width) {
    .b-recommended-bundle {
        padding: 0;
    }

    .b-recommended-bundle__title,
    .b-recommended-bundle__collapse {
        display: none;
    }

    .b-bundle-content {
        display: block;
    }

    .b-bundle-content__avia,
    .b-bundle-content__dp,
    .b-bundle-content__price {
        display: block;
        width: 100%;
    }
}

@media (max-width: $mobile-max-width) {
    .b-recommended-bundle {
        display: flex;
        flex-direction: column;
        //background-color: red;
    }

    .b-recommended-bundle__content {
        display: flex;
        flex: 1 1 auto;
        align-self: stretch;
        //background-color: aqua;
    }


    //content
    .b-bundle-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }

    .b-bundle-content__avia,
    .b-bundle-content__dp {
        flex: 4 1 auto;
        margin-bottom: 10px;
    }

    .b-bundle-content__price {
        display: flex;
        flex: 1 1 auto;
        margin-bottom: 2px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    }

    .b-bundle-content__avia {
        display: flex;
    }
}
