@import "../variables.scss";
@import "../mixins";

.b-recommended-bundle {
    position: relative;
    max-width: $layout-max-width;
    padding: 0 $layout-horizontal-padding;
    margin: 0 auto;
}

.b-recommended-bundle__title {
    display: inline-block;
    padding: 5px 0;
    font-size: 1.1em;
    color: #fff;
}

.b-recommended-bundle__collapse {
    position: relative;
    display: inline-block;
    float: right;
    padding: 5px 0;
    margin-top: 5px;
    font-size: .85em;
    color: #fff;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    //треугольничек вверх
    &:before {
        position: absolute;
        top: 45%;
        left: -12px;
        content: '';

        @include arrowUp(4px, #fff);
    }
}





.b-bundle-content__avia {
    display: inline-block;
    width: 40%;
    height: 200px;
    padding: 0 10px;
    vertical-align: top;
    background-color: #fff;
}

.b-bundle-content__dp {
    display: inline-block;
    width: 40%;
    height: 200px;
    vertical-align: top;
    background-color: #eee;
}

.b-bundle-content__price {
    display: inline-block;
    width: 20%;
    height: 200px;
    vertical-align: top;
    background-color: #fcf8e3;
}
