@import "../variables.scss";

.b-passenger-label {
    font-size: .7em;
    color: #878787;
    white-space: nowrap;
}

.b-passenger-err-label {
    display: inline-block;
    position: absolute;
    font-size: .85em;
    color: #f44336;//red
    white-space: nowrap;
}

.b-passenger-field {
    display: block;
    padding: 4px 8px;
}

.b-passenger-field_error {
    border: 2px solid #f44336;
}

.b-passenger-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.b-passenger-item_gender {
}

.b-passenger-err-label_gender {
    bottom: -5px;
}

.b-passenger-item_second-name {
}

.b-passenger-field_second-name {
    width: 140px;
}

.b-passenger-item_name {
}

.b-passenger-field_name {
    width: 110px;
}

.b-passenger-item_birth {
}

.b-passenger-field_birth {
    width: 100px;
}

.b-passenger-item_citizenship {
    //margin-right: 5px;
}

.b-passenger-field_citizenship {
    width: 140px;
}

.b-passenger-field_document {
    width: 135px;
}

.b-passenger-item_series-number {
}

.b-passenger-field_series-number {
    width: 130px;
}

.b-passenger-field_valid-to {
    width: 105px;
}

.b-passenger-item_bonus-card {
    margin: 15px 0 10px 0;
}

.b-passenger-num {
    display: none;
}

@media (max-width: $mobile-max-width) {
    .b-passenger {
        margin: 20px 0 10px;
    }

    .b-passenger-num {
        display: block;
        color: #89c13a;
        font-size: .8em;
        text-align: right;
    }

    .b-passenger-label {
        font-size: .8em;
        color: #4a4a4a;
    }

    .b-passenger-err-label {
        position: static;
    }

    .b-passenger-field {
        display: inline-block;
        width: 100%;
        border: none;
        margin-bottom: 1px;
        padding: 4px 0;
        border-bottom: 1px solid #89c13a;
        color: #000000;

        &:focus {
            margin-bottom: 0;
            border-bottom: 2px solid #89c13a;
        }
    }

    .b-passenger-field_error {
        border: none;
        border-bottom: 1px solid #f44336;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 2px solid #f44336;
        }
    }

    .b-passenger-item {
        display: inline-block;
        width: 48%;
        margin: 5px 0;

        &:nth-child(2n) {
            margin-right: 2%;
        }
    }

    .b-passenger-field_second-name,
    .b-passenger-field_name,
    .b-passenger-field_birth,
    .b-passenger-field_citizenship,
    .b-passenger-field_document,
    .b-passenger-field_series-number,
    .b-passenger-field_valid-to {
        width: 100%;
    }

    .b-passenger-item_bonus-card {
        width: 100%;
        margin: 10px 0;
    }
}