@import "../variables.scss";

.b-reservation-page {
    //min-height: 500px;
}

.b-reservation-page__header,
.b-reservation-page__header-desc,
.b-reservation-page__variant,
.b-reservation-page__visa-alert,
.b-reservation-page__tarifs-desc,
.b-reservation-page__customer,
.b-reservation-page__buy-request,
.b-reservation-page__passengers,
.b-reservation-page__comments,
.b-reservation-page__additional-services,
.b-reservation-page__agreement,
.b-reservation-page__buy-block {
    max-width: $layout-max-width;
    padding: 0 $layout-horizontal-padding;
    margin: 20px auto;
}

.b-reservation-page__mobile-filter {
    background: #ececec;
    display: none;
}

.b-reservation-page__head-filter__caption {
    font-size: 1.4em;
    color: rgba(0,0,0,0.87);
    padding-top: 7px;
    padding-bottom: 3px;
    border-bottom: 1px solid #979797;
}

.b-reservation-page__variant {
    margin-bottom: 0;
}
.b-reservation-page__visa-alert {
    margin-top: 0;
}

.b-reservation-page-comments__head {
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: bold;
}

.b-reservation-page-comments__body {
    position: relative;
}

.b-reservation-page-comments-text {
    margin-right: 250px;

    textarea {
        width: 100%;
        border: 1px solid #c0c0c2;
        border-radius: 3px;
        background-color: #f5f5f5;
        resize: vertical;
    }
}

.b-reservation-page-comments-label {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    padding: 5px 0 0;
    color: #878787;
    font-size: .7em;
}

.b-reservation-page-additional-services__head {
    font-size: 1.4em;
    font-weight: bold;
}

.b-reservation-page-additional-services__body {
    font-size: .85em;
}

.b-reservation-page-additional-services-item {
    margin: 5px 0;
}

.b-reservation-page-additional-services__lbl {
    margin-bottom: 15px;
    font-size: .7em;
    color: #878787;
}

.b-reservation-page-agreement {
    font-size: .85em;

    a {
        text-decoration: none;
        color: #1e88c1;

        &:hover {
            text-decoration: underline;
        }
    }
}

.b-reservation-page__buy-block {
    margin: 40px auto 30px;
    text-align: center;
}

.b-reservation-page-buy-block__lbl,
.b-reservation-page-buy-block__price,
.b-reservation-page-buy-block__button {
    display: inline-block;
    vertical-align: bottom;
}

.b-reservation-page-buy-block__lbl {
    margin-right: 10px;
    color: #878787;
}

.b-reservation-page-buy-block__price {
    margin-right: 10px;
    font-size: 1.6em;
    line-height: 0;
}

.b-reservation-page-buy-block__button {
    font-size: 1.2em;
}

.b-reservation-page__buy-block-mobile {
    display: none;
}

@media (max-width: $mobile-max-width) {
    .b-reservation-page__buy-block {
        display: none;
    }

    .b-reservation-page__header,
    .b-reservation-page__header-desc,
    .b-reservation-page__variant {
        margin: 0;
        padding: 0;
    }

    .b-reservation-page__mobile-filter {
        display: block;
    }

    .b-reservation-page__visa-alert {
        margin: 0;
        border-top: 1px solid rgba(0,0,0,0.12);
        background: #fdf1c9;
        color: #4a4a4a;
    }

    .b-reservation-page__tarifs-desc {
        margin: 0;
        border-top: 1px solid rgba(0,0,0,0.12);
        background: #fdf1c9;
        color: #4a4a4a;
    }

    .b-reservation-page__buy-request {
        background: #fdf1c9;
    }

    .b-reservation-page__passengers {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid rgba(0,0,0,0.12);
    }

    .b-reservation-page-comments__head {
        font-size: .8em;
        font-weight: normal;
    }



    .b-reservation-page-comments-text {
        margin: 0;

        textarea {
            border: none;
            border-bottom: 1px solid #89c13a;
            border-radius: 0;
            background: none;
            resize: none;
        }
    }

    .b-reservation-page-comments-label {
        position: static;
        width: auto;
        color: #4a4a4a;
        font-size: .8em;
    }

    .b-reservation-page-comments-label_one {
        display: none;
    }

    .b-reservation-page-additional-services__head {
        font-size: 1em;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.87);
    }

    .b-reservation-page-additional-services__lbl {
        margin-top: 10px;
        font-size: .8em;
        color: #4a4a4a;
    }

    .b-reservation-page-additional-services-item {
        display: inline-block;
        width: 50%;
    }

    .b-reservation-page__buy-block-mobile {
        display: block;
        margin-top: 25px;
        border-top: 1px solid rgba(0,0,0,0.12);
    }

    .b-reservation-page-agreement {
        margin: 6px 0 0 0;
        padding: 0 0 0 2px;
        font-size: .8em;
        color: #4a4a4a;
    }
}