@import "../variables.scss";

.b-packages-results-page {
    .b-search-form {
        padding: 10px 0 0;
        margin: 0;
        background-color: #000;
    }
}



.b-packages-results-page__filter,
.b-packages-results-page__results {
    max-width: $layout-max-width;
    padding: 0 $layout-horizontal-padding;
    margin: 0 auto;
}

//===================================================
//recommended-bundle
//===================================================
.b-packages-results-page__recommended-bundle {
    position: relative;
    min-height: 200px;
    padding-bottom: 30px;
}

.b-recommended-bundle-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url("dp-recommended-background.jpg") no-repeat 0 0;
    background-size: cover;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: '';
        background-color: rgba(0,0,0,.5);
    }
}


//===================================================
//recommended-bundle
//===================================================

.b-packages-results-page__results {
    padding-bottom: 40px;
}

.b-packages-results__content {
    //display: inline-block;
}

.b-packages-results__info-block {
    position: absolute;
    top: 0;
    right: 0;
}

//===================================================
//packages results list
//===================================================
.b-packages-results {
    position: relative;
    background-color: #f5f5f5;
}

.b-packages-results-page__mobile-filter {
    display: none;
}

.b-packages-results-page__mobile-buy-block {
    display: none;
}

@media (max-width: $mobile-max-width) {
    .b-packages-results-page {
        background-color: #ededed;
    }

    .b-packages-results-page__form,
    .b-packages-results-page__filter,
    .b-packages-results-page__results {
        display: none;
    }

    .b-packages-results-page__mobile-filter {
        display: block;
    }

    //блок рекомендованного
    .b-recommended-bundle-bg {
        display: none;
    }

    .b-packages-results-page__recommended-bundle {
        padding-bottom: 2px;
    }
}