@import "../variables.scss";
.b-overlay{
    background: rgba(0, 0, 0, .7) !important;
}
.NeedSmsValidation__overlay{
    display: flex;
    //justify-content: center;
    //align-items: center;
}
.NeedSmsValidation{
    margin: auto;
    width: 400px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.NeedSmsValidation{
}
.NeedSmsValidation__icon{
    margin: 15px 0;
}
.NeedSmsValidation__title{
    margin: 10px 0;
    font-size: 22px;
    font-weight: normal;
}
.NeedSmsValidation__notice{
    margin: 10px 0;
    color: #878787;
}
.NeedSmsValidation__input-container{
    width: 150px;
    margin: 13px auto;
}
.NeedSmsValidation__input{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid $gray-light;
    border-radius: 0;

    &:focus{
        box-shadow: 0 0 3px $green;
    }
}
.NeedSmsValidation__text{
    margin: 13px 0;
}
.NeedSmsValidation__timeout-time{
    display: inline-block;
}
.NeedSmsValidation__new{
    color: #1e88c1;
    cursor: pointer;
}
.NeedSmsValidation__error{
    margin: 13px 0;
    color: $red;
}
.NeedSmsValidation__input-container-error{
    .NeedSmsValidation__input{
        border-color: $red;
    }
}
