@import '../variables.css';

.b-offers-landing {
    margin: 0 auto;
    padding: 40px 0 40px;
    max-width: var(--max-content-width);
}

.b-offers-landing__title {
    font-family: ProximaNova;
    font-size: 25px;
    text-align: center;
}

.b-offers-landing__content {
    margin-top: 40px;
}

.b-landing-list {

}

.b-landing-list__item {
    margin-bottom: 35px;
}

.b-landing-item {

}

.b-landing-item__img {
}

.b-landing-item__text {
}