/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

.navigation-text {
    display: inline-block;
    padding: 0px 4px;
    color: #989898;
    text-decoration: none;
    font-size: 15px;
    line-height: 19px;
}

.navigation-link {
    display: inline-block;
    padding: 0px 4px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 19px;
}

.navigation-link,
.navigation-link:active,
.navigation-link:visited {
}

.navigation-link:hover {
    text-decoration: underline;
}
