@import '../variables.scss';
.b-search-form{
    margin: 20px 0 0;
}
.b-search-form__form,
.b-search-form__tabs{
    max-width: $b-search-form-max-width;
    padding: 0 $b-search-form-horizontal-padding;
    margin: 0 auto;
}
.b-search-form__actions{
    padding: $b-search-form__form-padding-vertical $b-search-form__form-padding-horizontal;
    font-size: 0;
    line-height: 0;
    background: $b-search-form-bg;
    box-shadow: $b-search-form-box-shadow;
    border-top-right-radius: $b-search-form-border-radius;
    border-bottom-right-radius: $b-search-form-border-radius;
    border-bottom-left-radius: $b-search-form-border-radius;
}
.b-search-form-action__error{
    position: absolute;
    z-index: 5;
    width: calc(100% - 5px);
    padding: 5px;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    background: red;
    color: #fff;
    border-bottom-right-radius: $b-search-form-border-radius;
    border-bottom-left-radius: $b-search-form-border-radius;
}
@mixin form-item($width, $padding-right, $padding-bottom) {
    display: inline-block;
    width: $width;
    padding: 0 $padding-right $padding-bottom 0;
    vertical-align: top;
}
.b-search-form-action__location-from,
.b-search-form-action__location-to{
    position: relative;
    @include form-item(21%, $b-search-form__form-offset-ceil-horizontal, 0);
}
.b-search-form-action__date{
    position: relative;
    @include form-item(28%, 0, 0);

    .b-search-form-action__error-from-date{
        width: calc(50% - 8px);
    }
    .b-search-form-action__error-to-date{
        left: auto;
        right: 5px;
        width: calc(50% - 8px);
    }
}
.b-datepicker-range__item-start,
.b-datepicker-range__item-end{
    @include form-item(50%, $b-search-form__form-offset-ceil-horizontal, 0);

    .b-datepicker-range__icon{
        right: 9px + $b-search-form__form-offset-ceil-horizontal;
    }
}
.b-search-form-action__people{
    @include form-item(19%, $b-search-form__form-offset-ceil-horizontal, 0);
}
.b-search-form-action__btn{
    @include form-item(11%, 0, 0);

    .btn{
        width: 100%;
    }
}
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}
@mixin btn-bg-color($bg-color, $color) {
    color: $color;
    background-color: $bg-color;

    &:hover{
        background-color: lighten($bg-color, 5%);
    }
    &:active{
        background-color: darken($bg-color, 5%);
    }
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    transition: all $animation-speed;

    @include button-size($btn-padding-vertical, $btn-padding-horizontal, $btn-font-size, $btn-line-height, $btn-border-radius);
}
.btn-green{
    @include btn-bg-color($btn-green-bg, $btn-green-color);
}
@media(max-width: 900px) {
    .b-search-form-action__location-from{
        @include form-item(50%, $b-search-form__form-offset-ceil-horizontal, $b-search-form__form-offset-ceil-vertical);
    }
    .b-search-form-action__location-to{
        @include form-item(50%, 0, $b-search-form__form-offset-ceil-vertical);
    }
    .b-search-form-action__date{
        @include form-item(50%, 0, 0);
    }
    .b-search-form-action__people{
        @include form-item(25%, $b-search-form__form-offset-ceil-horizontal, 0);
    }
    .b-search-form-action__btn{
        @include form-item(25%, 0, 0);
    }
}
@media(max-width: $tablet-max-width) {

    .b-search-form__form,
    .b-search-form__tabs{
        padding: 0;
    }
    .b-tabs-nav{
    }
    .b-tabs-nav__item_active{
        border-top-left-radius: 0;
    }
    .b-search-form__actions{
        padding: 10px 12px;
        border-radius: 0;
    }

    .b-search-form-action__location-from,
    .b-search-form-action__location-to{
        @include form-item(100%, 0, $b-search-form__form-offset-ceil-vertical);
    }
    .b-search-form-action__date{
        @include form-item(100%, 0, $b-search-form__form-offset-ceil-vertical);
        //padding-bottom: 5px;
    }
    .b-datepicker-range__item-end{
        padding-right: 0;

        .b-datepicker-range__icon{
            right: 9px;
        }
    }
    .b-search-form-action__people{
        @include form-item(100%, 0, $b-search-form__form-offset-ceil-vertical);
    }
    .b-search-form-action__btn{
        @include form-item(100%, 0, 0);
    }
}
