@import '../variables.scss';
.b-search-form{
    margin: 40px 0;
}
.b-search-form__actions,
.b-search-form__tabs{
    max-width: $b-search-form-max-width;
    margin: 0 auto;
}
.b-search-form__actions{
    padding: $b-search-form__form-padding-vertical $b-search-form__form-padding-horizontal;
    background: $b-search-form-bg;
    border-bottom-left-radius: $b-search-form-border-radius;
    border-bottom-right-radius: $b-search-form-border-radius;
    border-top-right-radius: $b-search-form-border-radius;
}
.b-search-form-action__location-from,
.b-search-form-action__location-to{
    
}
//BEGIN b-tabs
.b-tabs__item{
    display: inline-block;
    padding: $b-tabs__item-padding-vertical $b-tabs__item-padding-horizontal;
    margin-right: $b-tabs__item-margin-right;
    font-size: $b-tabs__item-font-size;
    line-height: 135%;
    color: $b-tabs__item-color;
    vertical-align: top;
    cursor: pointer;
    background-color: $b-tabs__item-bg;
    border-top-left-radius: $b-tabs__item-border-radius;
    border-top-right-radius: $b-tabs__item-border-radius;

    &:hover{
        color: $b-tabs__item-color;
        text-decoration: none;
        background-color: $b-tabs__item-hover-bg;
    }
}
.b-tabs__item_active{
    cursor: inherit;
    background-color: $b-tabs__item-active-bg;

    &:hover{
        background-color: $b-tabs__item-active-bg;
    }
}
//END b-tabs
//BEGIN b-suggest
.b-suggest{
    display: block;
    height: 40px;
    background-color: $white;
    border-radius: $b-suggest-border-radius;
}
//END b-suggest