@import '../../variables.scss';
.b-suggest-container{
    width: $layout-max-width;
    padding: 20px;
    margin: 30px auto;
    background: black;
}
.b-suggest{
    position: relative;
    display: block;
    font-size: $font-size-base;
    line-height: $line-height-computed;
    background-color: $white;
    border-radius: $b-suggest-border-radius;
}

.b-suggest__input{
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    line-height: $line-height-computed;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: $b-suggest-border-radius;

    &:focus{
        border-color: $green;
    }
}
.b-suggest__list{
    position: absolute;
    left: 0;
    z-index: 10;
    //top: 100%;
    min-width: 100%;
    padding: 6px 0;
    margin: 0;
    background: $white;
    box-shadow: 0 5px 10px $black;
}
.b-suggest-item{
    position: relative;
    padding: 4px $padding-base-horizontal;
    list-style: none;
    cursor: pointer;

    &:hover{
        background-color: rgba(0, 0, 0, .1);
    }
}
.b-suggest-item__city-name{

}
.b-suggest-item__country-name{
    margin-left: 3px;
    color: #888;
}
.b-suggest-item__iata{
    position: absolute;
    right: 15px;
    color: #888;
}
.b-suggest__list_overlay{
    position: inherit;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    //width: 100%;
    //height: 100%;
}
