@import '../../variables.scss';
@import '../../Icons/css/icons.css';

.b-suggest{
    position: relative;
    display: block;
    font-size: $font-size-base;
    line-height: $line-height-computed;
    background-color: $white;
    border-radius: $b-suggest-border-radius;
}
.b-suggest__input{
    position: relative;
    z-index: 20;
    display: block;
    width: 100%;
    padding: $padding-base-vertical 10px;
    font-size: $font-size-base;
    line-height: $line-height-computed;
    background-color: $white;
    border: 1px solid transparent;
    border-radius: $b-suggest-border-radius;

    &:focus{
        border-color: $green;
    }
}
.b-suggest__input_focus{
    border-color: $green;
}
.b-suggest-list{
    position: absolute;
    left: 0;
    z-index: 10;
    //top: 100%;
    min-width: 100%;
    padding: 6px 0;
    margin: 0;
    background: $white;
    box-shadow: 0 5px 10px $black;
}
.b-suggest-item{
    position: relative;
    padding: 4px 45px 4px $padding-base-horizontal;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;

    &:hover{
        background-color: rgba(0, 0, 0, .1);
    }
}
.b-suggest-item_selected{
    background-color: rgba(0, 0, 0, .1);
}
.b-suggest-item__city-name{

}
.b-suggest-item__country-name{
    margin-left: 3px;
    color: #888;
}
.b-suggest-item__iata{
    position: absolute;
    right: 10px;
    color: #888;
}
//
//
// BEGIN
// OPTIONS
// OVERLAY
//
//
.b-suggest-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .b-suggest-list{
        left: 0;
        top: 38px;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
    .b-suggest-item{
        &:last-child{
            margin-bottom: 10px;
        }
    }
}
.b-suggest-overlay__close{
    position: absolute;
    z-index: 21;
    right: 1px;
    top: 1px;
    width: 36px;
    height: 36px;
    background: $b-suggest-overlay__close-bg;
    font-size: 1.5em;
    color: $b-suggest-overlay__close-color;
    cursor: pointer;
    transition: all .2s;
    
    &:before{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        margin: auto;
    }
    
    &:hover{
        background: $b-suggest-overlay__close-bg_hover;
        color: $b-suggest-overlay__close-color_hover;
    }
    &:active{
        background: $b-suggest-overlay__close-bg_active;
        color: $b-suggest-overlay__close-color_active;
    }
}
//
//
// END 
// OPTIONS
// OVERLAY
//
//