
.icon-emb-flight:before { content: '\e800'; } /* '' */
.icon-emb-flight-1:before { content: '\e801'; } /* '' */
.icon-emb-right-small:before { content: '\e802'; } /* '' */
.icon-emb-star:before { content: '\e803'; } /* '' */
.icon-emb-star-half-alt:before { content: '\e804'; } /* '' */
.icon-emb-rouble:before { content: '\e805'; } /* '' */