/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.css';

.header {
    color: #fff;
    background: #000;
}

.b-header {
    max-width: var(--max-content-width);
    padding: 5px 15px;
    margin: 0 auto;
    text-align: left;
}

.b-header__brand {
    display: inline-block;
    width: 270px;
}

.b-brand__text {
    display: inline-block;
    margin-left: 15px;
}

.b-header__nav {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

@media (max-width: 650px) {
    .b-header {
        text-align: center;
    }

    .b-header__nav {
        float: none;
        margin-bottom: 5px;
    }
}
