/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.css';

:root {
    --brand-color: #61dafb;
}

.header {
    color: #fff;
    background: #000;
}

.b-header {
    max-width: var(--max-content-width);
    padding: 5px 15px;
    margin: 0 auto;
}

.b-header__brand {
    display: inline-block;
    width: 270px;
}


.b-brand__text {
    display: inline-block;
}

.b-header__nav {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
