/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.scss';
.header{
    color: #fff;
    background: #232323;
}
.b-header{
    max-width: $layout-max-width;
    padding: 5px 15px;
    margin: 0 auto;
    text-align: left;
}
.b-header__brand{
    display: inline-block;
    width: 270px;
}
.b-brand{
    display: block;
}
.b-brand__text{
    display: inline-block;
    margin-left: 15px;
}
.b-header__nav{
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.b-brand__img-mobile{
    display: none;
}
.b-header__nav-mobile{
    display: none;
}
@media (max-width: 650px) {
    .b-header{
        text-align: center;
    }

    .b-header__nav{
        float: none;
        margin-bottom: 5px;
    }
}
@media (max-width: $mobile-max-width) {
    .b-brand__img,
    .b-brand__text,
    .b-header__nav{
        display: none;
    }

    .b-header{
        padding: 5px 10px;
    }

    .b-header__brand{
        width: auto;
        margin-left: -27px;
    }

    .b-header__nav-mobile{
        display: block;
        float: left;
    }

    .b-brand__img-mobile{
        display: block;
    }
}
