---
title: О компании
description: О компании
component: ContentPage
---
.main__center
    h2.section-header История компании
    p.
        Компания ИННА ТУР, основанная в 1992 году, входит в число лидеров Российского туристического бизнеса.
        За годы работы ИННА ТУР зарекомендовала себя как надежный поставщик туристических услуг и высокотехнологичный партнер.
    p.
        ИННА ТУР является многопрофильным туроператором, предлагающим широкую географию направлений и видов отдыха.
    p.
        На сегодняшний день ИННА ТУР представлена центральным офисом в Москве и филиалами в Волгограде, Ростове-на-Дону, Краснодаре,
        Воронеже, Махачкале и Ульяновске. Среди партнеров компании мировые лидеры туриндустрии, которые помогают нам предоставлять
        широчайший ассортимент услуг для всех категорий путешественников.

.main__center
    h2.section-header Миссия
    p.
        Стать туроператором нового поколения, обеспечивающим клиентам оптимальные условия и высокий уровень сервиса
        в соответствие с международными стандартами и новейшими технологиями. 

.main__center
    h2.section-header История компании
    ul.list
        li.list-item 1992 ИННА ТУР первой познакомила российских туристов с Тунисом и стала обладателем &laquo;Золотого Жасмина&raquo; &mdash; награды, присуждаемой лучшим туристическим фирмам Министерством туризма Туниса.
        li.list-item 1995 ИННА ТУР открыла для россиян &laquo;Окно в Париж&raquo;, впервые предложив Европейский турпродукт в доступном для широкого круга потребителей формате. Это позволило компании на протяжении многих лет удерживать лидерские позиции на данном Европейском направлении.
        li.list-item 1995 &mdash; 2003 ИННА ТУР &mdash; лидер среди агентов национального авиаперевозчика &laquo;Аэрофлот-Российские Авиалинии&raquo;.
        li.list-item 1998, 1999, 2000 ИННА ТУР &mdash; организатор и спонсор &laquo;Фестиваля российской культуры в Каннах&raquo;. За этот проект МИД России наградил компанию ИННА ТУР почетной медалью &quot;За вклад в развитие российско французских отношений в области культуры&laquo;, а мэр Канн вручил знаменитую Пальмовую Ветвь Дворца Фестивалей.
        li.list-item 2004 ИННА ТУР вошла в тройку крупнейших туристических фирм в России, по данным рейтинга изданий &laquo;Коммерсантъ&raquo; и &quot;Туринфо&laquo;. 2004 ИННА ТУР присвоены звания: &laquo;Самое популярное турагентство&raquo;, &laquo;Самый узнаваемый бренд&raquo; по данным рейтинга &laquo;РосБизнесКонсалтинг&raquo;.
        li.list-item 2007 ИННА ТУР вошла в рейтинг 200 крупнейших компаний России, опубликованный в ежемесячном <nobr>журнале &laquo;Forbes&raquo; &#8470; 10 /2008 г.</nobr>
        li.list-item 2011 ИННА ТУР &mdash; Генеральный агент авиакомпаний Sirius-Aero и Swift Aero. 
        li.list-item 2012 ИННА ТУР &mdash; Генеральный агент авиакомпании РУСЛАЙН.
        li.list-item 2013 ИННА ТУР &mdash; эксклюзивный партнер на российском рынке немецкой компании Нitchhiker, лидера европейского рынка в области программного обеспечения по продаже авиационных перевозок.
    p.
        Сегодня ИННА ТУР делает ставку на развитие новых технологий поиска и бронирования туристических услуг, которые помогут компании выйти на качественно новый уровень и конкурировать с мировыми
        лидерами туристического рынка.

.main__center
    h2.section-header Услуги компании
    ul.list
        li.list-item организация групповых туров по всему миру;
        li.list-item  организация индивидуальных туров, в том числе класса VIP;
        li.list-item  организация образования за рубежом;
        li.list-item  оздоровительный туризм;
        li.list-item  бронирование и продажа авиабилетов на регулярные рейсы российских и зарубежных авиакомпаний;
        li.list-item  бронирование гостиниц в России и за рубежом;
        li.list-item  продажа железнодорожных билетов по России, Европе;
        li.list-item  аренда автотранспорта; 
        li.list-item организация корпоративных мероприятий, включая инсентив-туры; 
        li.list-item организация участия в отраслевых и специализированных международных выставках; 
        li.list-item организация конференций и конгрессов в России и за рубежом.

.main__center
    h2.section-header Деловой туризм
    p.
        Сотрудничество с корпоративными клиентами является важной частью нашей работы и занимает большую долю в нашем бизнесе. На протяжении многих лет мы нарабатывали опыт
        и теперь с уверенностью можем сказать, что предоставляем весь спектр услуг на самом высоком уровне. В портфолио корпоративного отдела множество успешно реализованных проектов разного уровня как для малого и среднего бизнеса, так и для крупных компаний.

.main__center
    h2.section-header Преимущества компании
    ul.list
        li.list-item Надежность!
        li.list-item  Технологичность!
        li.list-item Универсальность!

.main__center
    h2.section-header Наша команда
    p.
        Все успехи и достижения компании связаны с людьми, которые посвятили себя миру путешествий. Квалифицированные специалисты, работающие в ИННА ТУР, имеют большой опыт в
        индустрии, обладают всеми необходимыми навыками. Руководство компании обеспечивает сотрудникам возможность профессионального роста и комфортные условия работы.
