/* BEGIN SIZES */
$max-width: 990px;
/* END SIZES */

/* BEGIN BORDER-RADIUS */
$base-border-radius: 2px;
/* END BORDER-RADIUS */

/* BEGIN COLORS */
$black: #212121;
$white: #fff;
/* END COLORS */



/* BEGIN b-search-form */
$b-search-form-max-width: $max-width;
$b-search-form-bg: $black;
$b-search-form-border-radius: $base-border-radius + 1;
$b-search-form__form-padding-vertical: 6px;
$b-search-form__form-padding-horizontal: 6px;
/* END b-search-form */

/* BEGIN b-tabs */
$b-tabs__item-color: $white;
$b-tabs__item-bg: rgba(33, 33, 33, .6);
$b-tabs__item-hover-bg: rgba(33, 33, 33, .75);
$b-tabs__item-active-bg: $black;
$b-tabs__item-border-radius: $base-border-radius;
$b-tabs__item-margin-right: 2px;
$b-tabs__item-padding-vertical: 8px;
$b-tabs__item-padding-horizontal: 20px;
$b-tabs__item-font-size: 16px;
/* END b-tabs */

/* BEGIN b-suggest */
$b-suggest-border-radius: $base-border-radius;
/* END b-suggest */