$font-family-base: ProximaNova, Arial, sans-serif;

/* BEGIN Layout */
// 960 + 15*2
$layout-max-width: 990px;
$layout-horizontal-padding: 15px;
$padding-base-vertical: 8px;
$padding-base-horizontal: 15px;
$font-size-base: 14px;
$line-height-base: 1.428571429;
$line-height-computed: $font-size-base * $line-height-base;
/* END Layout */

/* BEGIN Animations */
$animation-speed: .2s;
/* END Animations */

/* BEGIN BORDER-RADIUS */
$base-border-radius: 2px;
$small-border-radius: 1px;
/* END BORDER-RADIUS */

/* BEGIN COLORS */
$black: #212121;
$base-text-color: $black;
$white: #fff;
$green: #89c13a;
$red: #E30514;
/* END COLORS */

/* BEGIN b-search-form */
$b-search-form-max-width: $layout-max-width;
$b-search-form-horizontal-padding: $layout-horizontal-padding;
$b-search-form-bg: $black;
$b-search-form-border-radius: $base-border-radius + 1;
$b-search-form__form-padding-vertical: 6px;
$b-search-form__form-padding-horizontal: 6px;
$b-search-form__form-offset-ceil-horizontal: 5px;
$b-search-form__form-offset-ceil-vertical: 5px;
/* END b-search-form */

/* BEGIN b-tabs-nav */
$b-tabs-nav__item-color: $white;
$b-tabs-nav__item-bg: rgba(33, 33, 33, .6);
$b-tabs-nav__item-hover-bg: rgba(33, 33, 33, .75);
$b-tabs-nav__item-active-bg: $black;
$b-tabs-nav__item-border-radius: $base-border-radius;
$b-tabs-nav__item-margin-right: 2px;
$b-tabs-nav__item-padding-vertical: 9px;
$b-tabs-nav__item-padding-horizontal: 20px;
$b-tabs-nav__item-font-size: 16px;
/* END b-tabs-nav */

/* BEGIN b-suggest */
$b-suggest-border-radius: $small-border-radius;
$b-suggest-overlay__close-bg: rgba(0, 0, 0, .1);
$b-suggest-overlay__close-color: lighten($red, 30%);
$b-suggest-overlay__close-bg_hover: rgba(0, 0, 0, .18);
$b-suggest-overlay__close-color_hover: $red;
$b-suggest-overlay__close-bg_active: rgba(0, 0, 0, .22);
$b-suggest-overlay__close-color_active: $red;
/* END b-suggest */

/* BEGIN btn */
$btn-border-radius: $base-border-radius;
$btn-line-height: $line-height-computed;
$btn-font-size: 15px;
$btn-padding-horizontal: $padding-base-horizontal;
$btn-padding-vertical: $padding-base-vertical;
$btn-green-color: $white;
$btn-green-bg: $green;
/* END btn */

/* BEGIN recommended bundle */
$recommended-bundle-max-mobile-width: 640px;
/* END recommended bundle */