@import "../variables.scss";

.b-visa-alert {
    padding: 20px 15px 20px 20px;
    margin-left: -1px;
    margin-right: -1px;
    background: #fdf1c9;
    font-size: .85em;
}

.b-visa-alert__img {
    display: inline-block;
    vertical-align: middle;
}

.b-visa-alert-img {
    margin: 0 10px;
}

.b-visa-alert__text {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.b-visa-alert__head {
    font-weight: bold;
}

.b-visa-alert__body {

}

.b-visa-alert-link {
    text-decoration: none;
    color: #1e88c1;

    &:hover {
        text-decoration: underline;
    }
}

.b-visa-alert__img-mobile {
    display: none;
}

@media (max-width: $mobile-max-width) {
    .b-visa-alert {
        margin: 0;
        padding: 5px 0;
        background: none;
    }

    .b-visa-alert__img {
        display: none;
    }

    .b-visa-alert__img-mobile {
        display: inline-block;
        float: left;
        color: #9b9b9b;
    }

    .b-visa-alert__head {
        display: none;
    }

    .b-visa-alert__text {
        display: block;
        margin-left: 25px;
        margin-top: 2px;
        font-size: .95em;
    }
}