@import "../variables.scss";
.b-packages-list{

}
.b-packages-list-item__index{
    position: absolute;
    z-index: 1;
    padding: 2px 5px;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    font-size: .8em;
    line-height: 1;
}
.b-packages-list-item{
    position: relative;
    width: 100%;
    height: 185px;
    margin: 10px 0;
    background-color: $result-list-item-bg;
    border: 1px solid $result-list-item-border;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover{
        box-shadow: $result-list-item-shadow;
    }
}
.b-packages-list-item__hotel{
    position: relative;
    width: 75%;

    flex-grow: 3;
}
.b-packages-list-item__price{
    position: relative;
    width: 25%;
    border-left: 1px solid $result-list-item-border;

    flex-grow: 1;
}
@media(max-width: $recommended-bundle-max-mobile-width) {
    .b-packages-list-item{
        display: block;
    }

    .b-packages-list-item__hotel,
    .b-packages-list-item__price{
        display: block;
        width: 100%;
    }
}
@media (max-width: $mobile-max-width) {
    .b-packages-list-item{
        display: block;
        height: 184px;
    }
}
