@import '../variables.css';

.b-offers-list {
    max-width: var(--max-content-width);
    padding: 10px 15px 50px;
    margin: 0 auto;
}

.b-offer {
    /*display: inline-block;*/
    /*position: relative;*/
    max-width: 960px;
    margin-bottom: 1.043%;
    overflow: hidden;
    /*background-color: #999999;*/
    vertical-align: top;
    width: 100%;
    max-height: 428px;
    /*height: 1px;*/
}

.b-offer-x-large,
.b-offer-large,
.b-offer-medium,
.b-offer-small {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    height: 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-offer-x-large {
    width: 100%;
    /*height: 428px;*/
    padding: 0 0 44.584%;
}

.b-offer-large {
    width: 66.355%;
    /*height: 428px;*/
    padding: 0 0 44.584%;
}

.b-offer-medium {
    width: 49.48%;
    /*height: 320px;*/
    padding: 0 0 33.334%;
}

.b-offer-small {
    width: 32.605%;
    /*height: 209px;*/
    padding: 0 0 21.772%;
}

.b-offer-large + .b-offer-small {
    margin-bottom: 10px;
}

.b-offer-margin {
    margin-right: 1.043%;
}

.offer-left {
    float: left;
    margin-right: 1.043%;
}

.offer-left:after {
    content: '';
    clear: both;
}

.offer-right {
    float: right;
    margin-left: 1.043%;
}

.offer-right:after {
    content: '';
    clear: both;
}

.b-offer__title {
    position: absolute;
    width: 100%;
    top: 45%;
    color: #fff;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.3);
}

/*.b-offer__img {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
/*}*/

/*.b-offer__img:after {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
/*}*/

@media (max-width: 768px) {
    .b-offer__title {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .b-offer__title {
        font-size: 16px;
    }
}