@import '../variables.scss';
$animation-speed: .2s;

.b-offers-list {
    max-width: $layout-max-width;
    padding: 10px 15px 50px;
    margin: 0 auto;
}

.b-offer {
    width: 100%;
    max-width: 960px;
    margin-bottom: 1.043%;
    overflow: hidden;
    vertical-align: top;
}

.b-offer-x-large,
.b-offer-large,
.b-offer-medium,
.b-offer-small {
    position: relative;
    display: inline-block;
    height: 0;
    font-size: 0;
    text-align: center;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-offer-x-large {
    width: 100%;
    /*height: 428px;*/
    padding: 0 0 44.584%;
}

.b-offer-large {
    width: 66.355%;
    /*height: 428px;*/
    padding: 0 0 44.584%;
}

.b-offer-medium {
    width: 49.48%;
    /*height: 320px;*/
    padding: 0 0 33.334%;
}

.b-offer-small {
    width: 32.605%;
    /*height: 209px;*/
    padding: 0 0 21.772%;
}

.b-offer-large + .b-offer-small {
    margin-bottom: 1.043%;
}

.b-offer-margin {
    margin-right: 1.043%;
}

.offer-left {
    float: left;
    margin-right: 1.043%;

    &:after {
        clear: both;
        content: '';
    }
}

.offer-right {
    float: right;
    margin-left: 1.043%;

    &:after {
        clear: both;
        content: '';
    }
}

a.b-offer-title-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    margin: auto;
    font-family: ProximaNova, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    transition: background-color $animation-speed;

    &:after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: '';
    }

    &:hover {
        font-size: 22px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, .6);

        .b-offer-title__sub-text {
            font-size: 1em;
        }
    }
}

.b-offer-title {
    display: inline-block;
    vertical-align: middle;
}

.b-offer-x-large .b-offer-title {
    font-size: 1.6em;
}

.b-offer-large .b-offer-title {
    font-size: 1.4em;
}

.b-offer-medium .b-offer-title {
    font-size: 1.2em;
}

.b-offer-small .b-offer-title {
    font-size: 1em;
}

.b-offer-title__text {
    font-size: 1.6em;
    font-weight: bold;
    transition: font-size $animation-speed;
}

.b-offer-title__date {
    transition: font-size $animation-speed;
}

.b-offer-title__sub-text {
    font-size: 0;
    transition: font-size $animation-speed;
}

.b-offer-title__price {
    font-weight: bold;
    transition: font-size $animation-speed;
}

@media (max-width: 768px) {
    a.b-offer-title-wrap {
        font-size: 18px;

        &:hover {
            font-size: 22px;
        }
    }
}

@media (max-width: 480px) {
    a.b-offer-title-wrap {
        font-size: 12px;

        &:hover {
            font-size: 16px;
        }
    }
}
