@import "../variables.scss";
.b-mobile-filters{

}
.b-mobile-selected-filter{
    position: relative;
}
//кнопка назад
.b-mobile-selected-filter__back{
    position: absolute;
    left: 10px;
    top: 20%;
    color: #888;
    cursor: pointer;
}
//текст фильтра
.b-mobile-selected-filter-text{
    text-align: center;
    font-size: .8em;
}
//.b-mobile-selected-filter-text__caption {
//    margin-bottom: -5px;
//    font-size: 1.5em;
//    color: #000;
//}
//
//.b-mobile-selected-filter-text__description {
//    color: #a8a9ab;
//}

//кнопка открыть фильтр
.b-mobile-selected-filter__filter{
    position: absolute;
    right: 10px;
    top: 20%;
    color: #888;
    cursor: pointer;
}
.b-filters-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.b-filters-overlay{
    .b-list-filters{
        margin: 0 0 20px;
        box-shadow: none;

        display: flex;
        flex-direction: column;
    }
    .b-filter{
        border-bottom: 1px solid $gray-light;
    }
    .b-filter__label{
    }
    .b-filter__body{
        position: relative;
        top: auto;
        background-color: #fff;
        box-shadow: none;
    }
    .b-filter__body-head{
        display: none;
    }
}
.b-filters-overlay-btn{
    display: block;
    padding: 8px 20px;
    text-align: center;
    background-color: $green;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;

    &:hover{
        background-color: $green;
    }
}
@media (max-width: $mobile-max-width) {

}
