@import "../variables.scss";

.b-mobile-filters {

}

.b-mobile-selected-filter {
    position: relative;
}

//кнопка назад
.b-mobile-selected-filter__back {
    position: absolute;
    left: 10px;
    top: 20%;
    color: #888888;
    cursor: pointer;
}

//текст фильтра
.b-mobile-selected-filter-text {
    text-align: center;
    font-size: .8em;
}

.b-mobile-selected-filter-text__caption {
    margin-bottom: -5px;
    font-size: 1.5em;
    color: #000;
}

.b-mobile-selected-filter-text__description {
    color: #a8a9ab;
}

//кнопка открыть фильтр
.b-mobile-selected-filter__filter {
    position: absolute;
    right: 10px;
    top: 20%;
    color: #888888;
    cursor: pointer;
}

@media (max-width: $mobile-max-width) {

}