/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
@import '../variables.scss';

.b-nav-mobile {
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.b-nav-mobile-menu {
    font-size: 1.5em;
}
.b-overlay{
    &.NavMobile{
        background-color: $white;
    }
}

@media (max-width: $mobile-max-width) {
}
