.b-tripadvisor-stars-wrap {
    display: inline-block;
    margin-right: 5px;
}

.b-tripadvisor-votes__img {
    margin-right: 3px;
}

.b-tripadvisor-votes__star {
}

.b-tripadvisor-votes__count {
    display: inline-block;
    color: #878787;
    font-size: 0.75em;
    vertical-align: bottom;
}