.b-overlay{
    background: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.overlay-scroll-fix{
    overflow: hidden;
    height: 100%;
}