---
- hosts: webservers #Указываем группу хостов
  remote_user: root #пользователь под которым ansible будет логиниться

  vars_files:
    - vars.yml #Файл, содержащий переменные которые нам потребуются, например расположения директорий

  roles: # Блок ролей, у нас пока одна роль 
    - user
    - ansible-nvm
    - webserver