@import "../variables.scss";
@import '../Icons/css/icons.css';
.b-price-card{
    height: 100%;
    padding: 0;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b-price-card__link{
    text-align: right;
    vertical-align: top;
}

.b-price-card__price{
    padding-top: 20%;
    text-align: center;
}
.b-price-card__price-text{
    font-size: 0.8em;
    text-align: center;
}
.b-price-card__price-price{
    line-height: 1;
    font-size: 1.3em;
}
.b-price-card__full-price{
    margin: 0 0 2px;
    font-size: .9em;
    font-weight: bold;
}
.b-price-card__full-price-ctrl{
    margin-left: 4px;
    font-size: 1.05em;
}
.b-price-card__buy{
    width: 100%;
    text-align: center;
}
.b-price-card-buy{
    display: inline-block;
    width: 100%;

    padding: $Button-padding-vertical $Button-padding-horizontal;
    line-height: $Button-line-height;
    font-size: $Button-font-size;
    color: $Button-color;
    border-radius: $Button-border-radius;
    background-color: $Button-bg;

    text-decoration: none;
    cursor: pointer;

    &:hover{
        background-color: $Button-bg-hover;
    }
}
.b-price-card-buy__price{
    font-family: "Roboto Medium";
    font-size: 1.6rem;
    color: #fff;
}
.b-price-card-buy__caption{
    display: block;
    font-size: .8rem;
}
@media (max-width: $mobile-max-width) {
    .b-price__price{
        display: inline-block;
        margin-left: 10px;
        font-size: 1.1em;
    }

    .b-price-ctrl_normal{
        font-size: 1em;
        font-weight: normal;
    }
}
