@import '../variables.css';

.b-offers-slider {
    height: 470px;
    background-image: url('https://s.inna.ru/Files/Photos/140220092948/141028191927/p_O.jpg');
    background-color: #000;
    background-position: center top;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.b-offers-slider__content {
    margin: 0 auto;
    padding: 40px 0 40px;
    max-width: var(--max-content-width);
    color: #fff;
}