@import '../variables.scss';

.b-offers-slider {
    //height: 600px;
    background-color: #f6f6f6;
    background-image: url('../../public/images/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.b-offers-slider__content {
    max-width: $layout-max-width;
    padding: 40px 0 40px;
    margin: 0 auto;
    color: #fff;
}
